.primary-button {
    font: bold;
    color: white;
    width: full;
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 2;
    padding-right: 2;
    border-radius: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #4CAF50;
    border: #333 2px solid;
    cursor: pointer;
}